<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
    <title>Galileo Temperature Manager</title>
    {% else %}
    <title>Galileo Temperature Manager</title>
    {% endif %}
</head>


<style>

</style>



</head>

<body>
<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
      <div class="container">
        <img class="img-fluid rounded mb-3 mb-md-0" src="https://i.imgflip.com/52b2ut.gif" alt="">
        <h3><a class="navbar-brand" href="{{ url_for('index') }}">GALILEO CO. LTD.</a></h3>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('index') }}"><b>Home</b>
                    <span class="sr-only">(current)</span>
                  </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about"><b>About</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact"><b>Contact</b></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

<br>
<br>



<!-- Body -->
    <div class="container-fluid">
      <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
          <div class="login d-flex align-items-center py-5">
            <div class="container">
              <div class="row">
                <div class="col-md-9 col-lg-8 mx-auto">
                  <h1><img src="https://i.imgflip.com/52apad.gif" alt="Welcome to Galitemp Library"/>
                      <br> Welcome to Galitemp Library
                  </h1>
                  <form>

                    <a href="{{ url_for('add_record')}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add Temperature details</a>
                    <div class="text-center"></div>
                      <br>

                    <a href="{{ url_for('edit_or_delete') }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Update details</a>
                    <div class="text-center"></div>
                      <br>

                    <a href="/view" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">View Employee details</a>
                    <div class="text-center"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



</body>

</html>
