<h1>About Page</h1>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">





<body>

<h2>HTML Table</h2>

<table>
  <tr>
    <th>Date</th>
    <th>Name</th>
    <th>Temperature</th>
    <th>Condition</th>


  </tr>
  <tr>
    <td>3 March 2021</td>
    <td>Afif</td>
    <td>36.7°C</td>
    <td>Nice</td>
  </tr>
  <tr>
    <td>3 March 2021</td>
    <td>Adib</td>
    <td>35.8°C</td>
    <td>Very Nice</td>
  </tr>
  <tr>
    <td>3 March 2021</td>
    <td>Eiman</td>
    <td>34.8°C</td>
    <td>Good</td>
  </tr>
  <tr>
    <td>3 March 2021</td>
    <td>Joseph</td>
    <td>35.8°C</td>
    <td>Excellent</td>
  </tr>
  <tr>
    <td>3 March 2021</td>
    <td>Sam</td>
    <td>38.8°C</td>
    <td>Not so good</td>
  </tr>
  <tr>
    <td>3 March 2021</td>
    <td>On chan</td>
    <td>39.8°C</td>
    <td>GG</td>
  </tr>
</table>

<body>
